$theme-color: #4fc3ba;
$info-color: #7e8691;
$table-head-color: #e8ebf2;
$table-border-color: #e0e1e2;
$error-color: #FF4949;
$extra-extra-small: 12px;
$extra-small: 13px;
$small: 14px;
$medium: 16px;
$large: 18px;
$extra-large: 20px;
$big-font: 28px;
$tip-color:#f5b531

